{% load i18n %}
<section>
  <h2>{% trans "Project Overview" %}</h2>
  <p><% this.description %></p>
  <% if (this.urls[0]) {%>
    <p><a href="<% this.urls[0] %>" target="_blank"><span class="glyphicon glyphicon-globe"></span><% this.urls[0] %></a></p>
  <%}%>
  <% if (this.contacts) {%>
    <h4>{% trans "Contact information" %}</h4>
    <dl class="contacts">
    <% for (var index in this.contacts) {%>
      <dt><% this.contacts[index].name %></dt>
      <dd class="clearfix">
        <% if (this.contacts[index].email) {%>
          <a href="mailto:<% this.contacts[index].email %>">
            <span class="glyphicon glyphicon-envelope"></span>
            <% this.contacts[index].email %>
          </a>
        <%}%>
        <% if (this.contacts[index].tel) {%>
          <a href="tel:<% this.contacts[index].tel %>">
            <span class="glyphicon glyphicon-earphone"></span>
            <% this.contacts[index].tel %>
          </a>
        <%}%>
      </dd>
    <%}%>
    </dl>
  <%}%>
  <div class="divider-thick"></div>
    {% if user.is_authenticated %}
      {% if has_content or not is_allowed_add_location %}
      <h4>{% trans "Project stats" %}</h4>
      <ul class="list-inline stats">
        <li>
          {% blocktrans count counter=num_locations %}
          <div class="num"><% this.num_locations %></div> location
          {% plural %}
          <div class="num"><% this.num_locations %></div> locations
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans count counter=num_parties %}
          <div class="num"><% this.num_parties %></div> party
          {% plural %}
          <div class="num"><% this.num_parties %></div> parties
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans count counter=num_resources %}
          <div class="num"><% this.num_resources %></div> resource
          {% plural %}
          <div class="num"><% this.num_resources %></div> resources
          {% endblocktrans %}
        </li>
      </ul>
    {% else %}
      <!-- Starter text -->
      <h3 style="text-transform: capitalize;">{% trans "Congratulations!" %}</h3>
      <p>{% trans "You have successfully created your project.  You're now ready to add your first location." %}</p>
    {% endif %}
    {% if is_allowed_add_location %}
    <div class="btn-full">
      <a class="btn btn-primary" href="{% url 'locations:add' object.organization.slug object.slug %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add a location" %}
      </a>
    </div>
    {% endif %}
  {% else %}
    <div class="alert alert-info alert-full clearfix row" role="alert">
      <div class="text-center">
        <a href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Sign in" %}</a> {% trans "to view project details" %}
      </div>
    </div>
  {% endif %}
</section>